# Ignore Node.js modules
node_modules/

# Ignore Jest coverage reports
coverage/

# Ignore TypeScript compilation output
dist/

# Ignore the .history folder
.history/

# Ignore editor-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore system-specific files
.DS_Store
Thumbs.db
