# Ignore Jest configuration
jest.config.json

# Ignore TypeScript configuration
tsconfig.json
typedoc.json

# Ignore the .history folder
.history/

# Ignore scripts folder
scripts/

# Ignore test folder
test/

# Ignore source files
docs/
src/